<script>
	import ProfileWhite from '$lib/assets/white-profile.svelte'
	import ProfileWhiteLarge from '$lib/assets/white-profile-large.svelte'
	import BlackGirl from '$lib/assets/black-girl.svelte'
	import BlackGirlLarge from '$lib/assets/black-girl-large.svelte'
	import BlackGuy from '$lib/assets/black-guy.svelte'
	import BlackGuyLarge from '$lib/assets/black-guy-large.svelte'
	import Header from '$lib/components/Header.svelte'
	import GroupRight from '$lib/assets/GroupRight.svelte'
	import GroupLeft from '$lib/assets/GroupLeft.svelte'
	import Task from '$lib/assets/three/task.svelte'
	import Meeting from '$lib/assets/three/meeting.svelte'
	import GroupImage from '$lib/assets/two/group.svelte'
	import Success from '$lib/assets/two/success.svelte'
	import MobileFooter from '$lib/components/MobileFooter.svelte'
	import Hero from '$lib/components/Hero.svelte'
	import TypeSelector from '$lib/components/TypeSelector.svelte'

	let activeButton = 'one'

	const steps_type = {
		one: {
			title: 'Drei einfache Schritte <br /> zu deinem neuen Job',
			step1: 'Erstellen dein Lebenslauf',
			step2: 'Erstellen dein Lebenslauf',
			step3: 'Mit nur einem Klick bewerben'
		},
		two: {
			title: 'Drei einfache Schritte <br /> zu deinem neuen Mitarbeiter',
			step1: 'Erstellen dein Unternehmensprofil',
			step2: 'Erstellen ein Jobinserat',
			step3: 'Wähle deinen neuen <br /> Mitarbeiter aus'
		},
		three: {
			title: 'Drei einfache Schritte <br /> zur Vermittlung neuer Mitarbeiter',
			step1: 'Erstellen dein Unternehmensprofil',
			step2: 'Erhalte Vermittlungs- angebot von Arbeitgeber',
			step3: 'Vermittlung nach Provision oder <br /> Stundenlohn'
		}
	}
</script>

<svelte:head>
	<title>Tomisha Job site</title>
</svelte:head>

<Header />

<div class="my-16 flex justify-center flex-col gap-10 font-lato">
	<!-- Hero section -->
	<Hero />

	<div class="max-w-7xl justify-center flex flex-col w-full md:gap-11 mx-auto">
		<!-- Type selector -->
		<TypeSelector bind:activeButton />
		<!-- Steps -->
		<div class="flex flex-col px-4 my-10 gap-10 md:items-center-center md:w-full md:gap-36">
			<!-- Step 1 -->
			<div class="flex flex-col gap-10 relative">
				<p class="text-center text-2xl md:text-4xl font-semibold text-[#4A5568]">
					<!-- Drei einfache Schritte <br /> zu deinem neuen Job -->
					{@html steps_type[activeButton].title}
				</p>
				<div class="flex justify-center z-10 md:hidden">
					<ProfileWhite />
				</div>
				<div class="hidden md:flex ml-20 justify-center z-10">
					<ProfileWhiteLarge />
				</div>

				<span
					class="absolute -left-10 -bottom-28 md:bottom-0 eclipse h-56 md:h-52 w-56 md:w-52 rounded-full"
				/>
				<div
					class="absolute z-10 -bottom-16 md:bottom-10 flex flex-row gap-3 items-end text-txtGray"
				>
					<span class="font-custom"> 1. </span>
					<p class="text-base md:text-3xl">{steps_type[activeButton].step1}</p>
				</div>

				<span class="absolute -bottom-[380px] left-20 hidden md:block">
					<GroupRight />
				</span>
			</div>

			<!-- Step 2 -->
			<div class="flex flex-col md:flex-row-reverse gap-8 md:gap-0 mt-20 md:mt-36">
				<div class="flex flex-row gap-3 ml-10 md:ml-0 md:w-full items-end text-txtGray">
					<span class="font-custom"> 2. </span>
					<p class="text-base md:text-3xl">{@html steps_type[activeButton].step2}</p>
				</div>
				<div class="flex justify-center md:hidden">
					{#if activeButton == 'two'}
						<Success />
					{:else if activeButton == 'three'}
						<Task />
					{:else}
						<BlackGuy />
					{/if}
				</div>
				<div class="hidden justify-center w-full md:flex">
					<BlackGuyLarge />
				</div>
			</div>

			<!-- Step 3 -->
			<div class="flex flex-col md:flex-row md:gap-6 relative justify-center">
				<span class="-left-20 md:left-14 md:top-28 eclipse h-80 w-80 md:h-64 md:w-64" />

				<div class="flex flex-row z-10 gap-8 ml-20 md:ml-10 items-center text-txtGray">
					<span class="font-custom"> 3. </span>
					<p class="text-base md:text-3xl">{@html steps_type[activeButton].step3}</p>
				</div>
				<div class="flex justify-center z-10 md:hidden">
					{#if activeButton == 'two'}
						<GroupImage />
					{:else if activeButton == 'three'}
						<Meeting />
					{:else}
						<BlackGirl />
					{/if}
				</div>
				<div class="hidden md:flex justify-center z-10">
					<BlackGirlLarge />
				</div>

				<span class="absolute -top-[120px] left-48 hidden md:block">
					<GroupLeft />
				</span>
			</div>
		</div>
	</div>
</div>

<!-- Mobile footer button -->
<MobileFooter />

<style>
	.eclipse {
		background: #f7fafc 0% 0% no-repeat padding-box;
		opacity: 0.8;
		@apply rounded-full absolute;
	}
</style>
