<script>
	import { hide_reg_button } from '$lib/store'
	import RegistrationButton from '$lib/components/RegistrationButton.svelte'
</script>

<div class="flex flex-col h-[67px] z-50 fixed top-0 w-full rounded-b-xl bg-white shadow-lg">
	<span
		class="h-1"
		style="background: transparent linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;"
	/>
	<div class="flex flex-row h-full items-center justify-end px-4">
		<div class="flex flex-row gap-4 h-full items-center justify-end md:w-64">
			{#if !$hide_reg_button}
				<RegistrationButton classes="px-5 hidden md:flex" bgWhite />
			{/if}
			<a href="/" class="text-txtPrimary justify-center font-semibold text-sm"> Login </a>
		</div>
	</div>
</div>
