<script>
	import InView from '$lib/components/InView.svelte'
	import RegistrationButton from '$lib/components/RegistrationButton.svelte'
	import HandShake from '$lib/assets/handshake.png'
	import HandShakeLarge from '$lib/assets/handshake-desktop.png'
	import { hide_reg_button } from '$lib/store'
</script>

<div
	class="flex flex-col md:py-10 md:flex-row w-full justify-center"
	style="background: transparent linear-gradient(102deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;"
>
	<div class="flex flex-col w-full items-center justify-center">
		<div class="flex flex-col w-full md:gap-10 md:items-start justify-center md:w-[320px]">
			<h1
				class="text-[42px] md:text-[65px] text-center text-[#2D3748] leading-snug md:text-start font-semibold md:font-bold my-2"
			>
				Deine Job <br /> website
			</h1>
			<InView on:change={(e) => ($hide_reg_button = e.detail)} let:isInView classes="flex w-full">
				{#if isInView}
					<RegistrationButton classes="hidden md:flex" />
				{/if}
			</InView>
		</div>
	</div>
	<div class="flex flex-col w-full items-start justify-center">
		<div
			class="md:rounded-full md:bg-white h-[500px] md:w-[455px] md:h-[455px] flex items-center justify-center overflow-hidden"
		>
			<img
				src={HandShake}
				alt="hero"
				class="scale-110 md:scale-100 object-none md:object-cover h-full md:hidden"
			/>
			<img src={HandShakeLarge} alt="hero" class="scale-105 hidden md:block" />
		</div>
	</div>
</div>
