<!--
    <InView let:isInView>
        <div
            className="trans_p_prog"
            animated={isInView}
            />
    </InView>    
-->
<script lang="ts">
	import { createEventDispatcher, onMount } from 'svelte'

	export let classes = ''
	const dispatch = createEventDispatcher()
	let observer: IntersectionObserver | null,
		element: any,
		isInView = false

	$: isInView = isInView

	const onChangeVisibility = (e: any) => {
		isInView = e[0].isIntersecting
		dispatch('change', isInView)
	}

	onMount(() => {
		observer = new IntersectionObserver(onChangeVisibility, {
			threshold: 1,
			rootMargin: '-10px'
		})
		observer.observe(element)

		return () => {
			if (observer) {
				observer.disconnect()
				observer = null
			}
		}
	})
</script>

<div class={classes} bind:this={element}>
	<slot {isInView} />
</div>
