<script>
	import RegistrationButton from '$lib/components/RegistrationButton.svelte'
</script>

<div
	class="mb-bottom md:hidden z-50 flex flex-col h-[67px] fixed bottom-0 w-full rounded-t-xl bg-white shadow-xl border-t"
>
	<div class="flex flex-row h-full items-center justify-end px-6">
		<RegistrationButton />
	</div>
</div>

<style>
	.mb-bottom {
		box-shadow: 0px -1px 3px #00000033;
	}
</style>
