<script>
	export let classes = ''
	export let bgWhite = false
</script>

<a
	href="/"
	class="{!bgWhite
		? 'mb-bottom-button text-white'
		: 'bg-white text-[#319795] border-[1.5px] border-cBorder text-sm'}  w-full rounded-2xl h-10 flex items-center justify-center text-lg {classes}"
>
	Kostenlos Registrieren
</a>

<style>
	.mb-bottom-button {
		background: transparent linear-gradient(95deg, #319795 0%, #3182ce 100%) 0% 0% no-repeat
			padding-box;
	}
</style>
