<script lang="ts">
	export let activeButton: string
</script>

<div class="flex w-full justify-center">
	<div
		class="md:flex flex-row justify-center rounded-xl md:w-[580px] overflow-hidden border border-cBorder h-10 items-center"
	>
		<button
			on:click={() => (activeButton = 'one')}
			class="tab-button {activeButton == 'one' && 'active-button'} 
			{activeButton == 'three' && 'border-r border-cBorder'}">Arbeitnehmer</button
		>
		<button
			on:click={() => (activeButton = 'two')}
			class="tab-button {activeButton == 'two' && 'active-button'}">Arbeitgeber</button
		>
		<button
			on:click={() => (activeButton = 'three')}
			class="tab-button {activeButton == 'three' && 'active-button'}
			{activeButton == 'one' && 'border-l border-cBorder'}
			">Temporärbüro</button
		>
	</div>
</div>

<style>
	.active-button {
		@apply bg-[#81E6D9] !text-white;
	}

	.tab-button {
		@apply px-5 h-full grow text-txtPrimary font-bold text-sm;
	}
</style>
